module/immerse_rules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NBIRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="package" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="enable" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="true|false"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="activityRule" type="activityRuleType" use="optional"/>
            <xs:attribute name="disableVersionCode" type="xs:integer" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- 定义activityRule类型 -->
  <xs:simpleType name="activityRuleType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\*|[a-zA-Z0-9_$.]+)(:(0|1(:(-?\d+|[a-zA-Z]+))?|2))?(,(\*|[a-zA-Z0-9_$.]+)(:(0|1(:(-?\d+|[a-zA-Z]+))?|2))?)*"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>